version: '3.8'  
services:  
  web:  
    build: .  
    ports:  
      - "80:80"  
    environment:  
      - OPENAI_MODEL=meta-llama/llama-4-maverick-17b-128e-instruct
      - KB_SOURCE_NAME=IUH Official  
  db:  
    image: mysql:8.0  
    environment:  
      - MYSQL_DATABASE=kb_database